<%- include('../partials/header'); -%>

<h1 class="m-3">404: page not found</h1>
<p class="m-3">We're sorry, this resource is not found</p>
<a href="/dashboard" class="btn btn-outline-primary m-3">Home</a>