<%- include('../partials/header'); -%>

<h1 class="m-3">Server Error</h1>
<p class="m-3">We're sorry, something went wrong</p>
<a href="/dashboard" class="btn btn-outline-primary m-3">Go to Dashboard</a>