<%- include('../partials/header'); -%>
<div class="container">
  <div class="row">
    <form enctype="multipart/form-data" class="col-sm-12 col-md-8 col-lg-6 create my-4">
    
      <h3>Create Post</h3>
      <div class="mb-3 mt-3">
        <label for="title" class="form-label">Title</label>
        <input type="text" name="title" class="form-control" required>
      </div>
    
      <div class="mb-3 mt-3">
        <label for="image" class="form-label">Upload cover photo</label>
        <input type="file" id="image" name="image" class="form-control">
      </div>
    
      <div class="mb-3 mt-3">
        <label for="description" class="form-label">Description</label>
        <textarea type="text" name="description" id="description" class="form-control" required></textarea>
      </div>
    
      <div class="mb-3 mt-3">
        <button type="submit" id="button" class="btn btn-primary">Create</button>
        <a href="/dashboard" class="btn btn-danger">Cancel</a>
      </div>
      <div class="p-3"></div>
    
    </form>
  </div>
</div>
  

  <script src="https://cdnjs.cloudflare.com/ajax/libs/ckeditor/4.15.1/ckeditor.js"
    integrity="sha512-aThGT4RJc95+zt2vrs8iMjrFpsJxcFclp7tweVls6/3cNo3GWvGvtLV576o8Kdvdf3fJhrrG3wkmoea/KJMLFQ=="
    crossorigin="anonymous">
  </script>

  <!-- <script src="//cdn.quilljs.com/1.3.7/quill.min.js"></script> -->


  <script>
    CKEDITOR.replace('description', {  
        plugin: 'wysiwygarea, toolbar, basicstyles, link'
      })
    // var editor = new Quill('#editor', {
    //     modules: { toolbar: '#toolbar' },
    //     theme: 'bubble'
    //   });

    const form = document.querySelector("form")
    // const button = document.querySelector("#button")
    form.addEventListener('submit', async (e) => {
      e.preventDefault()
      // button.doubleClick()
      // console.log('clicked')
      const title = form.title.value
      const description = form.description.value
      let image = document.getElementById("image").files[0]
      let formData = new FormData()
      formData.append("image", image)
      formData.append("title", title)
      formData.append("description", description)
      // console.log('form details: ', title, description)
      // console.log('form data: ', formData)
      try {
        const res = await fetch('/create_post', {
          method: 'POST',
          body: formData
        })
        const data = await res.json()
        if (data.status == 'success') {
          location.assign('/dashboard')
        }
      } catch (error) {
        console.log(error)
      }
    })
  </script>
<%- include('../partials/footer'); -%>